<h2>Edit Question</h2>
	<div id="edit_question_form">
		<form action="/questions/<%=@question.id%>" method="post">
			<input type="hidden" name="_method" value="put">
			<%= erb :'questions/_form', locals: {question: @question} %>
			<input type="submit" value="Update question">
		</form>
	</div>

<form id="delete-questions" action="/questions/<%=@question.id%>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete question">
</form>	

<p><a href="/users/<%=current_user.id%>">Finish editing survey</a></p>
