.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  background-color: #bbdde4;
}

th {
  text-align: left;
}

.button {
     background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
    color: #f9f4eb;
}


ul#navlist {
  padding: 0;
  margin: 0;
  list-style-type: none;
  float: left;
  width: 100%;
  background-color: #1eb9bf;
  color: #f9f4eb;
}

ul#navlist li {
  display: inline;
}

ul#navlist form {
  float: left;
  width: 5em;
  padding: 0.2em 1em;
  text-decoration: none;
  border-right: 1px solid #f9f4eb;

}

ul#navlist li form:hover {
  background-color: #da273a;
  color: #f9f4eb;
}

ul#navlist a {
  float: left;
  width: 5em;
  background-color: #1eb9bf;
  color: #f9f4eb;
  padding: 0.2em 1em;
  text-decoration: none;
  border-right: 1px solid #f9f4eb;
}

ul#navlist li a:hover {
  background-color: #da273a;
  color: #f9f4eb;
}
