<ul>
  <p><label for='username'>Username: </label>
  <input id='username' type='text' name='user[username]' value="<%= current_user.username %>" /></p>
  <p><label for='password'>Password: </label>
  <input id='password' type='password' name='user[password]'/></p>
  <p><label for='username'>Email: </label>
  <input id='username' type='text' name='user[email]' value=" <%=current_user.email %>"/></p>
</ul>


