<ul>
  <p><label for='username'>Username: </label>
  <input id='username' type='text' name='user[username]'/></p>
  <p><label for='password'>Password: </label>
  <input id='password' type='password' name='user[password]'/></p>
  <p><label for='username'>Email: </label>
  <input id='username' type='text' name='user[email]'/></p>
</ul>