<ul>
  <form action='/users' method='POST'>
    <p><label for='username'>Username: </label>
    <input id='username' type='text' name='user[username]' /></p>
    <p><label for='password'>Password: </label>
    <input id='password' type='password' name='user[password]'/></p>
    <p><label for='email'>Email: </label>
    <input id='email' type='text' name='user[email]' /></p>
    <input type='submit' value='Sign Up'/>
  </form>
</ul>