<h1 class="title"><%=@survey.title%></h1>

<form action="/takensurveys" method="post">
  <input type="hidden" name="survey_id" value="<%=@survey.id%>">
  <input type="submit" value="Start survey!">
</form>
