<h1 class="title"><%=@survey.title%></h1>

<form action="/takensurveys" id="start_survey" method="post">
  <input type="hidden" name="survey_id" value="<%=@survey.id%>">
  <input type="submit" value="Start survey!">
</form>
<div id="question_container">
</div>