<label for="title">Title</label>
<input id ="title" type="text" name="survey[title]" value="<%=@survey.title%>">
<label for="category">Category</label>
<input id="category" type="text" name="survey[category]" value="<%=@survey.category%>">