<h1 class="title">Edit "<%=@survey.title%>"</h1>
  <div id="edit_survey_form">
    <form action="/surveys/<%=@survey.id%>" method="post">
      <input type="hidden" name="_method" value="put">
      <%= erb :'surveys/_form', locals: {survey: @survey} %>
      <input type="submit" value="Edit Survey">
    </form>
</div>

<form action="/surveys/<%=@survey.id%>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete survey">
</form>	