<h1>Statistics for <%=@survey.title%></h1>

<div id="total_takers">
	<p>total = # of people who have taken survey</p>
</div>
	<div id="question_stats_list">
		<%@survey.questions.each_with_index do |question,index|%>	
			<div id="question_stat">
				<%=index%>. <%=question%>
			</div>
				<div id="choice_stat_list">
					<%question.choices.each do |choice|%>
						<div id="choice_stat">
							<div><%=choicen%><div>
							<p># of people</p>
							<p>#/total %</p>
						</div>
					<%end%>
				</div>
		<%end%>
	</div>